# Lab | Inferential statistics - T-test & P-value

### EXERCISE 1: 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other.

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, norm
import math

In [47]:
df = pd.read_csv("./files_for_lab/machine.txt",sep="\t")
df

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [66]:
tt = ttest_ind(df["New machine"], df["Old machine"])
tt

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

In [65]:
statistic=tt[0] # to make it more readable
pval=tt[1]

# Conclusion:
if pval > 0.05:
    print("Both machines are equally efficient.")
else:
    if statistic < 0:
        print("The new machine outperforms the old one!")
    else:
        print("The old machine outperforms the new one...")

The new machine outperforms the old one!

### EXERCISE 2:

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

In [78]:
data = pd.read_csv("./files_for_lab/student_gpa.txt",sep="\t")
data.columns = [data.columns[col_name].strip() for col_name in range(len(data.columns))]
data

    Sophomores  Juniors
0         3.04     2.56
1         1.71     2.77
2         3.30     2.70
3         2.88     3.00
4         2.11     2.98
5         2.60     3.47
6         2.92     3.26
7         3.60     3.20
8         2.28     3.19
9         2.82     2.65
10        3.03     3.00
11        3.13     3.39
12        2.86     2.58
13        3.49      NaN
14        3.11      NaN
15        2.13      NaN
16        3.27      NaN

In [81]:
tt = ttest_ind(data["Sophomores"],data["Juniors"],equal_var=False,nan_policy='omit')
tt

Ttest_indResult(statistic=-0.9231495630900278, pvalue=0.3642180675348565)

In [82]:
statistic=tt[0] # to make it more readable
pval=tt[1]

# Conclusion:
if pval > 0.05:
    print("GPAs are similar for sophomores and juniors")
else:
    if statistic < 0:
        print("Sophomores got better GPAs than juniors")
    else:
        print("Juniors have better GPAs than sophomores")

GPAs are similar for sophomores and juniors